body {
    overflow-x: hidden;
}

h2 {
    text-align: left;
}

/* STYLE DE LA LANDING PAGE */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.landing-bg {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    /* width: 1200px; */
    width: max(1000px, 80%);
    opacity: 0;
}

.landing-line {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 256px);
    margin-bottom: 128px;
}

.landing-title {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    opacity: 0;
}

.landing-title h2 {
    font-size: 32px;
}

.scroll-btn {
    transition: 0.2s ease-in-out;
    opacity: 0;
}
.scroll-btn:hover {
    transform: scale(1.1);
}

/* Style du menu commentaires */
.comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: #131d23;
    padding: 0px 64px;
    transform: translate(100%);
    transition: 0.4s;
}

.open-close {
    position: absolute;
    right: 100%;
    bottom: 32px;
    white-space: pre;
    color: var(--title-color);
    font-family: var(--title-font);
    background: #131d23;
    padding: 8px 32px;
    border-radius: 16px 0px 0px 16px;
    cursor: pointer;
}

.opened {
    transform: translate(0px);
}

.comment-list {
    height: 400px;
    width: 350px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 64px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.comment-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border: 1px solid var(--title-color);
    border-radius: 4px;
    padding: 16px 32px;
    width: 300px;
}

.comment-form .form-line {
    border-bottom: 1px solid var(--title-color);
    width: 100%;
}

.comment-form textarea {
    resize: none; /*Empeche de changer la taille du textarea */
    border: 1px solid var(--title-color);
    border-radius: 4px;
    padding: 4px;
    height: 100px;
    width: 100%;
}

.comment-form * {
    background: none;
    border: none;
    outline: none;
    color: var(--white);
    font-family: var(--text-font);
    font-size: 16px;
}

.comment-form *::placeholder {
    color: var(--white);
    opacity: 0.8;
}

.submit {
    background: var(--title-color);
    color: #110f50;
    cursor: pointer;
    width: fit-content;
    padding: 8px 32px;
    border-radius: 4px;
    font-family: var(--title-font);
}

.comment-section hr {
    width: 90%;
    border-color: var(--title-color);
    border-width: 1px;
}

.comment-info {
    display: flex;
}

.hour {
    color: var(--title-color);
}

.comment-info p:first-child {
    font-weight: 700;
}

.comment-user-comment {
    display: flex;
    flex-direction: column;
}

.comment-user-comment p:last-child {
    margin-left: 32px;
}

.comment {
    line-height: 90%;
}

/* Style de la bar de recherche et du filtre */
.order {
    display: none;
}

#ordercheckbox {
    cursor: pointer;
}

.research-and-filter {
    display: flex;
    gap: 32px;
    justify-content: end;
    padding-right: 32px;
}

.search-bar, .filter {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.filter {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
}

.filter p {
    font-family: var(--title-font);
    color: var(--title-color);
}

.search-bar {
    border-bottom: 1px solid var(--title-color);
}

.search-bar input {
    background: none;
    border: none;
    color: var(--white);
}

.search-bar input::placeholder {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: 16px;
}

.search-bar input:focus {
    outline: none;
}

.filter-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px var(--title-color) solid;
    position: absolute;
    top: 150%;
    right: 0;
    clip-path: inset(0 0 100% 0);
    transition: 0.4s;
    width: 150px;
    z-index: 1;
}

.filter-menu-open {
    clip-path: inset(0 0 0 0);
}

.filter-menu label {
    cursor: pointer;
    color: var(--title-color);
    font-family: var(--text-font);
    font-size: 16px;
    border: 1px var(--title-color) solid;
    padding: 4px 16px;
    border-radius: 16px;
    transition: 0.2s;
    font-weight: 600;
    padding-bottom: 8px;
}

.filter-menu input {
    display: none;
}

.filter-menu>label:has(input:checked) {
    color: antiquewhite;
    border-radius: 16px;
    background: var(--title-color);
    color: #110f50;
}

.bestiary-container>div{
    display: block;
}

.bestiary-container.elden_ring>.elden_ring,
.bestiary-container.dark_souls>.dark_souls,
.bestiary-container.dark_souls2>.dark_souls2,
.bestiary-container.dark_souls3>.dark_souls3,
.bestiary-container.fallen>.fallen{
	display: none;
}

/* Style du bestiaire */
.bestiary-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 16px;
    margin: 0 auto;
    padding: 64px 0;
    max-width: 864px;
    justify-content: center;
    justify-items: center;
}

.case {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 150px;
}

.mob-img {
    /* width: 150px; */
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.case h3 {
    font-size: 16px;
    text-align: center;
}

/* Animation pour la fonction Addclass */
.FadeIn {
    animation: FadeIn 2s forwards ease-in-out;
}
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Reponsive */
@media(width<1020px){
    .landing-bg {
        top: 15%;
        width: 100%;
    }
}

@media(width<800px){
    .landing-bg {
        top: 5%;
        width: 150%;
    }
    .opened .open-close {
        left: 0;
    }
}