.monster {
    width: 700px;
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monster img {
    cursor: url(../assets/minigame/sword.cur) 0 0, auto;
}

.monster-shadow {
    height: 100px;
    background: #000;
    border-radius: 100%;
    width: 40%;
    position: absolute;
    top: 60%;
    z-index: -1;
    opacity: 0.6;
}

.hero {
    width: 500px;
    position: absolute;
    right: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.death,
.win {
    position: fixed;
    z-index: 5;
    top: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.death-show {
    opacity: 1;
}
.monster-after-death {
    pointer-events: none;
}